
.container{
    padding: 15px;

}
.listComun{
    width: 100%;
    outline: none;
    overflow: hidden;
    padding: 4px;
    margin: auto;
    background-color: white;
}
#comanda{
    border: none;
    border-bottom: 1px solid;
}
.right{
    float: right;
}
.left{
    float: left;
}
#valorTaxa{
    padding: 5px;
    margin-top: 10px;
}
.divComanda{
    width: 100%;
}
