<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Motoboy</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <h4>
    {{day[date.getDay()]}}
    &nbsp;-&nbsp;
    Diaria: R${{diaria}},00
    </h4><br>

    <div class="divComanda left">    <ion-item>
      <ion-input name="comanda" [(ngModel)]="comanda" type="number" id="comanda"  placeholder="Número da comanda"></ion-input>
      </ion-item>

      Valor da taxa: 
      <select name="" id="valorTaxa">
        <option value="1">01</option>
        <option value="2" selected>02</option>
        <option value="3">03</option>
        <option value="4">04</option>
        <option value="5">05</option>
        <option value="6">06</option>
        <option value="7">07</option>
        <option value="8">08</option>
        <option value="9">09</option>
        <option value="10">10</option>
      </select>
    </div>
    <ion-button color="dark" (click)="listarComandas()" class="btn right">Adicionar</ion-button>
    <div class="listComun" id="listEntregas"></div>
    
    <br>
    
  </div>
</ion-content>
