
.container{
    padding: 15px;

}
.listComun{
    width: 100%;
    outline: none;
    overflow: hidden;
    padding: 4px;
    margin: auto;
}
#comanda{
    border: none;
    border-bottom: 1px solid;
}
.right{
    float: right;
}
.left{
    float: left;
}
#valorTaxa{
    padding: 5px;
    margin-top: 10px;
}
.divComanda{
    width: 100%;
}
.legendas{
    height: 22px;
    display: flex;   
    width: 33%; 
}
.legenda{
    width: 10px;
    height: 10px;
    border: 1px solid;
    margin-top: 20px;
}
.gray{
    background-color: gray;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow; 
}
.green{
    background-color: green;
}
h3{
    height: 10px;
}