<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title>
      <h1>Motoboy</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="container">
    <h4 (click)="mudarDiaria()">
    {{day[date.getDay()]}}
    &nbsp;-&nbsp;
    Diaria: R${{diaria}},00
    </h4><br>

    <div class="divComanda left">    <ion-item>
      <ion-input name="comanda" [(ngModel)]="comanda" type="text" id="comanda"  placeholder="Número da comanda ou endereço"></ion-input>
      </ion-item>
      
       
      <ion-item>
        <ion-label>Valor da taxa:</ion-label>
        <ion-select  name="taxa" [(ngModel)]="taxa" value="2">
          <ion-select-option value="1">01</ion-select-option>
          <ion-select-option value="2">02</ion-select-option>
          <ion-select-option value="3">03</ion-select-option>
          <ion-select-option value="4">04</ion-select-option>
          <ion-select-option value="5">05</ion-select-option>
          <ion-select-option value="6">06</ion-select-option>
          <ion-select-option value="7">07</ion-select-option>
          <ion-select-option value="8">08</ion-select-option>
          <ion-select-option value="9">09</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-button color="dark" (click)="listarComandas()" class="btn right">Adicionar</ion-button>

    <div class="listComun" id="listEntregas">

    </div>
    



    <br><br>
    <p id="fechamentoEntregas">Nenhuma entrega informada</p>
    <h3 id="fechamentoTotal">Fechamento: R$00,00</h3>
    </div>
    <br><br>
    <h3>Legenda:</h3>
  <div class="legendas left">
      <div class="legenda left gray"></div>
      <p class="">&nbsp;&nbsp;R$01,00</p>
  </div>

  <div class="legendas right">
    <div class="legenda left blue"></div>
    <p class="">&nbsp;&nbsp;R$03,00</p>
  </div>

  <div class="legendas right">
  <div class="legenda left black"></div>
  <p class="">&nbsp;&nbsp;R$02,00&nbsp;&nbsp;</p>
  </div>

  <div class="legendas left ">
  <div class="legenda left green"></div>
  <p class="">&nbsp;&nbsp;R$04,00&nbsp;&nbsp;</p>
  </div>

  <div class="legendas right">
    <div class="legenda left red"></div>
    <p class="">&nbsp;&nbsp;R$06,00+</p>
  </div>

  <div class="legendas right">
    <div class="legenda left yellow"></div>
    <p class="">&nbsp;&nbsp;R$05,00&nbsp;&nbsp;</p>
  </div>




</ion-content>
